# SQL Server local database files
*.mdf
*.ldf
*.ndf

# Backup and report files
*.bak
*~
~$*
UpgradeLog*.XML
UpgradeLog*.htm

# data files
data/*

# dump file:
dump.sql

# this thing:
.DS_Store

# python env
.python-version
.venv/
